* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  background: #2B2C3A;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  padding: 0px 45px 0px 0px;
  min-height: 71px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

a {
  text-decoration: none;
}

.logo {
  width: 100%;
  padding: 19px 84px 11px 30px;
  background: rgba(156, 165, 236, 0.04);
}

.logo img {
  background: rgba(156, 165, 236, 0);
}

.top_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 31px 0px 30px 55px;
}

.top_nav .top_nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 10px;
}

.top_nav .top_nav_list .faq {
  margin-right: 28px;
  text-transform: uppercase;
}

.top_nav .top_nav_list .support {
  margin-right: 23px;
}

.top_nav .top_nav_list .settings {
  margin-right: 28px;
}

.user_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 776px;
}

.user_nav .statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
  padding-right: 14px;
}

.user_nav .statistics .homeworks {
  min-width: 96px;
  height: 24px;
  margin-right: 10px;
  padding: 7px 9px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  font-size: 13px;
  line-height: 10px;
}

.user_nav .statistics .homeworks a {
  background: rgba(255, 255, 255, 0);
}

.user_nav .statistics .lectures {
  min-width: 81px;
  height: 24px;
  margin-right: 10px;
  padding: 7px 9px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  font-size: 13px;
  line-height: 10px;
}

.user_nav .statistics .lectures a {
  background: rgba(255, 255, 255, 0);
}

.user_nav .statistics .hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 103px;
  height: 24px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  font-size: 13px;
  line-height: 10px;
}

.user_nav .statistics .hours .lightning_icon {
  width: 18px;
  height: 18px;
  margin-left: 3px;
  margin-top: 3px;
  margin: 3px 10px 0px 3px;
  background: #FF4738;
  -webkit-box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5);
          box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5);
  border-radius: 4px;
}

.user_nav .statistics .hours .lightning_icon img {
  background: #FF4738;
  margin-top: 3px;
  margin-left: 6px;
}

.user_nav .statistics .hours .link_hours {
  min-width: 63px;
  min-height: 10px;
  padding-top: 7px;
  background: rgba(255, 255, 255, 0);
}

.user_nav .statistics .hours .link_hours a {
  background: rgba(255, 255, 255, 0);
}

.user_nav .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 190px;
  padding-top: 14px;
}

.user_nav .profile .user_and_account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user_nav .profile .user_and_account .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user_nav .profile .user_and_account .user .user_name {
  margin-left: 13px;
}

.user_nav .profile .user_and_account .user .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 17px;
}

.user_nav .profile .user_and_account .user .status .circle_icon {
  width: 6px;
  height: 6px;
  margin-top: 8px;
  border-radius: 5px;
  background: #24CB8D;
  margin-right: 5px;
}

.user_nav .profile .user_and_account .user .status .user_status {
  min-width: 40px;
  min-height: 10px;
}

.user_nav .profile .user_and_account .account {
  width: 40px;
  height: 14px;
  margin-left: 15px;
}

.user_nav .profile .user_and_account .account .account_status {
  text-transform: uppercase;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#6B69F9), to(#6F6EFF));
  background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
  -webkit-box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
          box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
  border-radius: 4px;
}

.menu_and_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu_and_content nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  margin-top: 71px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 738px;
  padding: 30px 30px 37px 30px;
  background: rgba(156, 165, 236, 0.04);
}

.menu_and_content nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu_and_content nav .menu .menu_items {
  text-transform: uppercase;
}

.menu_and_content nav .menu .menu_items li {
  margin-bottom: 13px;
}

.menu_and_content nav .menu .menu_technologies li {
  margin-bottom: 30px;
}

.menu_and_content nav .get_mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_and_content main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 280px;
  margin-top: 71px;
  padding: 40px 50px 0px 55px;
}

.menu_and_content main section {
  min-height: 360px;
}

.menu_and_content main section .technology_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_and_content main section .technology_navigation .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_and_content main section .technology_navigation .buttons .lectures {
  width: 86px;
  height: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#6B69F9), to(#6F6EFF));
  background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
  border-radius: 4px;
  margin-right: 5px;
}

.menu_and_content main section .technology_navigation .buttons .left_arrow {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin-right: 5px;
}

.menu_and_content main section .technology_navigation .buttons .right_arrow {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin-right: 5px;
}

.menu_and_content main .list_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_and_content main .list_items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 255px;
  min-height: 294px;
  margin-right: 11px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.menu_and_content main .list_items .item p {
  margin-top: 10px;
  background: rgba(255, 255, 255, 0);
}

.menu_and_content main .list_items .item .description {
  padding: 0px 15px 0px 15px;
  background: rgba(255, 255, 255, 0);
}

.menu_and_content main .list_items .item .description .main {
  font-size: 16px;
  line-height: 12px;
}

.menu_and_content main .list_items .item .description .short {
  font-size: 14px;
  line-height: 18px;
}

.menu_and_content main .list_items .item .date_and_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 15px 0px 15px;
  background: rgba(255, 255, 255, 0);
  margin-top: 33px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_and_content main .list_items .item .date_and_button .date {
  background: rgba(255, 255, 255, 0);
}

.menu_and_content main .list_items .item .date_and_button button {
  width: 89px;
  height: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#6B69F9), to(#6F6EFF));
  background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
  border-radius: 4px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */